@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-secondary: #f5f5f7;
  --color-accent: #0071e3;
  --color-border: #e5e5ea;
  
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-primary;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}